@import "../../vars.css";

.skillsTitle {
    color: var(--color-text);
    font-size: 2rem;
    margin-top: 100px;
}

.skillsContainer {
    margin-left: 15%;
    margin-right: 15%;
}

.skills {
    color: var(--color-text); 
    font-size: 1rem;
    background: oklch(60% 0.14 240); 
    margin-top: 20px;
    padding: 10px 20px; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    font-weight: 600;
    width: 120px;
    text-align: center;
}

.skillsGrid {
    display: flex;
    gap: 10px;
}

.skills:hover {
    transform: translateY(-5px); 
    cursor: pointer;
}

/* Tablet */
@media (max-width: 1024px) {
    .skillsTitle {
        font-size: 1.5rem;
    }
    .skills {
        font-size: 1.1rem;
    }
    .skillsContainer {
        margin-top: -25px;
    }
}

/* Large phones / small tablets */
@media screen and (max-width: 768px) {
    .skillsContainer {
        margin-top: -50px;
    }
}

/* Small phones */
@media (max-width: 480px) {
   .skillsGrid {
        display: flex;
        flex-direction: column;
        gap: 2px;
    }
}





