@import "../../vars.css";
@import "tailwindcss";

.aboutTitle {
    color: var(--color-text);
    font-size: 2rem;
    margin-top: -680px;
    margin-left: 30px;
}

.about {
    color: var(--color-text);
    font-size: 1.3rem;
    margin-top: 25px;
    margin-left: 30px;
    padding: auto;
}

.aboutContainer {
    background-color: oklch(20.8% 0.042 265.755);
    margin-top: 150px;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 15px;
}

.portrait {
    width: 350px;
    height: 350px;
    margin-left: 1000px;
    margin-bottom: 300px;
}

/* Tablet */
@media (max-width: 1024px) {
    .aboutContainer {
        margin-top: 90px;
    }
    .aboutTitle {
        font-size: 1.5rem;
    }
    .about {
        font-size: 1.1rem;
    }
}

/* Large phones / small tablets */
@media screen and (max-width: 768px) {
    .aboutContainer {
        margin-top: 50px;
    }
}






