@import "../../vars.css";

.contactContainer {
    margin-top: 100px;
    margin-left: 15%;
    margin-right: 15%;
}

.contactTitle {
    color: var(--color-text);
    font-size: 2rem;
    margin-top: 50px;
}

.contactLink {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-top: 10px;
}

.contactList {
    color: var(--color-text);
    margin-top: 20px;
    list-style: none;
    padding-bottom: 50px;
}

/* Tablet */
@media (max-width: 1024px) {
    .contactContainer {
        margin-top: 75px;
    }
    .contactTitle {
        font-size: 1.5rem;
    }
    .contactLink {
        font-size: 1.1rem;
    }
}

/* Large phones / small tablets */
@media screen and (max-width: 768px) {
    .contactContainer{
        margin-top: 50px;
    }
}

