@import "../../vars.css";

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
    z-index: 2;
    margin: 0 10%;
}

.title {
    position: relative;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    color: #ff5722;
    margin-left: -5px;
    
}

.menu {
    display: flex;
}

.menuItems {
    display: flex;
    gap: 47px;
    margin-right: -20px;
    font-size: 25px;
    color: var(--color-text);
    text-decoration: none;

    /*remove dots from list item*/
    list-style: none;
}

/*change color when hovering over navbar*/
.menuItems :hover {
    color: var(--color-primary);
    transition: 0.3s;
}