@import "../../vars.css";

.socialsContainer {
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
}

.socialsTitle {
    color: var(--color-text);
    font-size: 2rem;
}

.socialsLink {
    color: var(--color-primary);
    text-decoration: none;
    font-size: 1.3rem;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center; 
    gap: 15px; 
    margin-top: 10px;
}

.socialsList {
    color: var(--color-text);
    margin-top: 20px;
    list-style: none;
    padding-bottom: 50px;
}

/* Tablet */
@media (max-width: 1024px) {
    .socialsContainer {
        margin-top: 75px;
    }
    .socialsTitle {
        font-size: 1.5rem;
    }
    .socialsLink {
        font-size: 1.1rem;
    }
}

/* Large phones / small tablets */
@media screen and (max-width: 768px) {
    .socialsContainer{
        margin-top: 50px;
    }
}

/* Small phones */
@media screen and (max-width: 480px) {
    .socialsList {
        padding-bottom: 20px;
    }
}

