@import "../../vars.css";

.experienceContainer {
    margin: 0 15%;
    margin-top: 80px;
}

.experienceTitle {
    color: var(--color-text);
    font-size: 2rem;
}

.subtitle {
    color: var(--color-primary);
    font-size: 1.5rem;
    padding-top: 20px;
}

.experience {
    color: var(--color-text);
    font-size: 1.3rem;
    padding-top: 10px;
}

/*Image*/
.imageContainer {
    padding-top: 10px;
    z-index: 1;
  }
  
  .showImage {
    color: var(--color-text);
    cursor: pointer;
    text-decoration: underline;
    font-size: 1.5rem;
  }

  .showImage:hover {
    color: var(--color-primary);
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .imageOne {
    max-width: 60dvh;
    max-height: 60dvh;
    border-radius: 8px;
  }

  .imageTwo {
    max-width: 60dvh;
    max-height: 60dvh;
    border-radius: 8px;
  }

/* Tablet */
@media (max-width: 1024px) {
    .experienceContainer {
        margin-top: 75px;
    }
    .experienceTitle {
        font-size: 1.5rem;
    }
    .subtitle {
        font-size: 1.3rem;
    }
    .experience {
        font-size: 1.1rem;
    }
    .showImage {
        font-size: 1.1rem;
    }
}

/* Large phones / small tablets */
@media screen and (max-width: 768px) {
    .experienceContainer {
        margin-top: 50px;
    }
    .image {
        width: 80%;
        height: auto;
    }
}


