:root {

    /*colors*/
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #1a376d;
    --color-dark: #0b24447;
    --color-bg: oklch(12.9% 0.042 264.695);

    /*fonts*/
    --font-robot: "Roboto";


}