:root {
    /*colors*/
    --color-text: #fff;
    --color-primary: #576cbc;
    --color-secondary: #1a376d;
    --color-dark: #0b24447;
    --color-bg: #04152d;

    /*fonts*/
    --font-robot: "Roboto";


}